@mixin keyframes($name) {
	@-o-keyframes $name { @content };
	@-moz-keyframes $name { @content };
	@-webkit-keyframes $name { @content }; 
	@keyframes $name { @content };
}

@include keyframes(unicorn-fly) {
	from { background-position:  0px; }
	to { background-position:  -($player-width * 2); }
}

.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
	position: absolute;
 	width: $player-width;
 	height: $player-height;
 	background: url("../images/riding_dabs.png") no-repeat;
	@include keyframes(unicorn-fly .5s steps(2) infinite);
}

