body {
  background-color: black;
}
.Player {
	position: absolute;
  width: 15em;
  height: 12.3em;

	background: url("../images/riding_dabs.png") no-repeat;
  animation: unicorn-fly .5s steps(2) infinite;
}
@keyframes unicorn-fly {
    from { background-position:  0em; }
    to { background-position:  -30em; }
  }


.BeetRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-image: url("../images/beetroot.png");
  background-size: contain;
  background-repeat: no-repeat;

}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 15em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
  font-family: 'Comic Sans MS', serif;
  font-size: 2.4em;
  color: white;
}
.Scoreboard-scoreText {
  margin-top: 5em;
  font-family: 'Comic Sans MS', serif;
  font-size: 2.4em;
  color: white;
}

.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: url("../images/clouds.png") 0 0 repeat-x;
}
.ground {
  margin-top: 51.3em;
  width: 100%;
  height: 63px;
  background: url("../images/ground_256_2.png") 0 0 repeat-x;
}

/*
.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: url("../images/skyAndFloor.png");
  background-size: contain;
  background-repeat: tile;
  animation: bgMove 10s linear infinite;
}
*/


@keyframes bgMove {
  from {background-position: 0 0;}
  to {background-position: -102.4em 0;}
}

#GameCanvasBackground {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: url("../images/bg_stars.png");
  background-repeat: tile;
}

/*
.GameCanvasBackground {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: url("../images/background.png");
  background-size: contain;
  background-repeat: tile;
  
  animation: bgMove 20s linear infinite;
}
*/
@keyframes ebbing {
  from {
    transform: rotateX(0);
    transform: translate(30em, 25em);
  }
  to {
    transform: rotateX(180deg);
    transform: translate(30em, 30em);
  }
}