.Levels-button {font-size: inherit;
  padding: 0.4em 1em;
  margin-top: 1em;
  border: 0.2em solid white;
  font-size: 1.8em;
  font-weight: 900;
  color: white;
  background: purple;
}

.Levels-button:hover, .Levels-button:focus, .Levels-button:active {
  color: white;
  background-color: #630063;
}

.Levels.is-visible {
  -webkit-transform: none;
}

body {
  height: 100%;
  background-image: url("../images/body_stars.png");
  background-color: black;
  background-position: right top;
  background-attachment: fixed;
  background-repeat: repeat-x;
  overflow: hidden;
}

footer {
  color: #f9be80;
  background-color: black;
}

.well .well-xs {
  margin-bottom: 0;
}
footer a {
  color: #f99cc1;
}

footer a:hover, footer a:focus {
  color: #f9dbe7;
}

.btn {
  font-family: 'Courier New', monospace;
}

.btn:focus, .btn:active:focus, .btn.active {
  outline: 0 none;
  background: purple;
} 

.btn-primary, .btn-primary:active, .btn-primary:focus {
  background: purple;
}

.btn-primary:hover {
  background: #4d004d;
}

.Player {
  position: absolute;
  width: 15em;
  height: 12.3em;
  top: 0;
  left: -20em;
  background: url("../images/riding_dabs.png") no-repeat;
  animation: unicorn-fly .5s steps(2) infinite;
}

.BeetRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 25em;
  height: 39.1em;
  max-width: 75%;
  max-height: 75%;
  background: url("../images/beetroot.png") no-repeat;
  display: none;
}

.btn-group-vertical {
   padding-bottom: 1.5em;
}

.Scoreboard {
  position: absolute;
  left: 50%;
  top: 10em;
  min-height: 30em;
  width: 30em;
  margin-left: -15em;
  box-sizing: border-box;
  background: purple;
  -webkit-transform: translate(0, -44em);
  -webkit-transition: -webkit-transform 0.5s;
  opacity: 0.95;
  border-radius: 25px;
  border: 0.2em solid white;
  font-family: 'Courier New', monospace;
  font-size: 1em;
}

.Scoreboard.is-visible {
  -webkit-transform: none;
}

.Scoreboard-scoreText {
  padding-top: 2em;
  font-family: 'Courier New', monospace;
  font-size: 2.7em;
  font-weight: 900;
  font-variant: small-caps;
  color: white;
}

.GameCanvas {
  font-size: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../images/clouds.png") repeat-x;
}

.ground {
  margin-top: 51.3em;
  width: 100%;
  height: 6.3em;
  background: url("../images/ground_256.png") repeat-x;
}

.browsehappy {
  margin: 0.2em 0
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
 
#GameCanvasBackground {
  font-size: 10px;
  position: relative;
  width: 100%;
  height: 57.6em;
  overflow: hidden;
  background: url("../images/background.png") repeat-x;
  background-position: 0 -5.5em;
  background-size: contain;
}

#onScreenScore {
  position: absolute;
  right: 1%;
  color: purple;
  font-family: 'Courier New', monospace;
  font-size: 4em;
  font-weight: 900;
  z-index: 1;
}

.well {
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

.audioPlayer {
  position: absolute;
}

@keyframes bgMove {
  from { background-position: 0 -5.5em; }
  to { background-position: -102.4em -5.5em; }
}

@keyframes bgMove2 {
  from { background-position: 0 0e; }
  to { background-position: -102.4em 0; }
}

@keyframes ebbing {
  from { transform: rotateX(0); transform: translate(30em, 25em); }
  to { transform: rotateX(180deg); transform: translate(30em, 30em); }
}

@keyframes unicorn-fly {
  from { background-position: 0em; }
  to { background-position: -30em; }
}

@media screen and (max-height: 568px) and (max-width: 380px) {
  #GameCanvasBackground {
    height: 51.2em;
  }

  .ground {
    margin-top: 44.9em;
  }

  .BeetRoot {
    left: -19em;
    width: 23em;
    height: 34.4em;
    background-size: 21em 34.4em;
  }

  .Player {
    left: -25em;
  }

  .Scoreboard {
    left: 16.6em;
    min-height: 28em;
    width: 25em;
  }
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/

/*NO CSS BEYOND THIS POINT FOR @MEDIA TO WORK. ONLY ADD ABOVE IT.*/
